.App-header {
  background-color: #e9fffc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.Button-Container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.Pick-Button{
  position: relative;
  border: none;
  border-radius: 0.5rem;
  background-color: #bff3e6;
  width: 10rem;
  height: 4rem;
  top: 28rem;
  font-size: large;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.Pick-Button:active{
  box-shadow: none;
}

.Home-Button{
  position: relative;
  border: none;
  border-radius: 0.5rem;
  background-color: #bff3e6;
  width: 10rem;
  height: 4rem;
  top: -42vh;
  right: 50vw;
  margin-left:15rem; 
  font-size: large;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  background:url(/public/BackArrow.svg) no-repeat center;
}
.Home-Button:active{
  box-shadow: none;
}
.Back-Arrow{
  position: relative;
  scale: 0.5;
}
